h2
  = link_to [:new, :admin, :category_matcher], class: 'category-matchers-add-button' do
    | New Category Matcher
ul= concept('admin/category_matcher/cell/publisher', collection: publishers_matchers)
