span FB: #{ social_counter.facebook }
span LI: #{ social_counter.linkedin }
span TW: #{ social_counter.twitter }
span PI: #{ social_counter.pinterest }
span GP: #{ social_counter.google_plus }
span Total: #{ social_counter.total }
