h2 Total: #{ number_with_delimiter(model.total_count) }
= concept('admin/publisher/cell/uncategorized_links', nil, id: :uncategorized_links, 
  name: :publisher_id, value: :slug, selected: params[:publisher_slug])
ul= concept('admin/link/cell/uncategorized_item', collection: model)
= paginate(model)
