%table
  border: 1px solid #ccc
  border-collapse: collapse
  margin: 10px 0
  padding: 0
  width: 100%

  tr
    background: #f8f8f8
    border: 1px solid #ddd

  tr:nth-child(even)
    background-color: #f2f2f2

  th, td
    padding: .25em .50em
    text-align: left

  th
    font-size: .85em
    text-transform: uppercase
