// *************************************
//
//   Stories
//
// -------------------------------------
//   Template
// -------------------------------------
//
// .stories[.stories--modifier](.is-state)(.has-context)
//   .stories-scaffolding
//
// *************************************

.stories
  @extend %table

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.stories-add-button
  @extend %button--add

.stories-edit-button
  @extend %button--edit

.stories-main-link
  border-bottom: 0 !important

.stories-other-link
  border: 0 !important
  color: #AAA
  td
    background: #FFF
  img
    display: none
  a
    color: grey

.story-form-link--added
  background: green !important

.story-form-link--removed
  background: red !important
